<mat-card>
  <mat-card-header>
    <mat-card-title>IELTS (International English Language Testing System)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <li>For speaking part, it is important for students using beautiful local slang.</li>
    <li>This is the file that I recorded for self-starter. </li>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openFile()">Preview</button>
    <button mat-button (click)="downloadFile()">Download</button>
  </mat-card-actions>
</mat-card>
