<div class="column-flex home-page">
  <div class="mat-card border-radius-5">
    <div class="text-center font-size-20 padding-top-6 margin-top-10">Personally Introduction</div>
    <div class="padding-10 font-size-16">
      <h4>Basic Info:</h4>
      <div class="margin-left-20">
        <p> -  My name is {{ this.name }}, {{ this.currentYear }} year student studying at University of Waterloo</p>
        <p> -  My major is {{ this.major }} and my minor is {{ this.minor }} </p>
        <p> -  Expected to graduate in April, {{ this.graduateYear }} </p>
      </div>
      <mat-divider class="margin-top-15 margin-bottom-15"></mat-divider>
      <h4 class="margin-top-10 margin-bottom-10">Personal Interests:</h4>
      <div class="margin-left-20" *ngFor="let interest of this.interests">
        <li>{{interest}}</li>
        </div>
      <mat-divider class="margin-top-15 margin-bottom-15"></mat-divider>
      <h4>Work Experiences:</h4>
      <div class="padding-10 column-flex" fxLayout="column" fxLayoutGap="50px">

        <div class="row-flex" fxLayout="row" >
          <div class="row-flex" fxFlex="50">
            <img class="height-10vh width-17vh border-radius-5 margin-right-5 border-black"
                 [src]="this.perkinElmerURL" alt="" role="button" (click)="openWorkPopup('perkin')">
            <div class="column-flex space-center">
              <p class="font-size-14">ML Engineer</p>
              <p class="font-size-14">Pytorch</p>
              <a class="font-size-14" role="button" (click)="openWorkPopup('perkin')">More Details...</a>
            </div>
          </div>
          <div class="row-flex">
            <img class="height-10vh width-10vh border-radius-5 margin-right-5 border-black"
                 [src]="this.sugonURL" alt="" role="button" (click)="openWorkPopup('sugon')">
            <div class="column-flex space-center">
              <p class="font-size-14">ML Engineer</p>
              <p class="font-size-14">GAN, AE, OpenCV, Pytorch, Tensorflow</p>
              <a class="font-size-14" role="button" (click)="openWorkPopup('sugon')">More Details...</a>
            </div>
          </div>
        </div>

        <div class="row-flex" fxLayout="row" >
          <div class="row-flex" fxFlex="50">
            <img class="height-10vh width-17vh border-radius-5 margin-right-5"
                 [src]="this.scotiabankURL" alt="" role="button" (click)="openWorkPopup('scotia')">
            <div class="column-flex space-center">
              <p class="font-size-14">Software Developer, Innovation Engineer</p>
              <p class="font-size-14">React, Angular, Django, PostgreSQL</p>
              <a class="font-size-14" role="button" (click)="openWorkPopup('scotia')">More Details...</a>
            </div>
          </div>
          <div class="row-flex">
            <img class="height-10vh width-17vh border-radius-5 margin-right-5"
                 [src]="this.rbcURL" alt="" role="button" (click)="openWorkPopup('rbc')">
            <div class="column-flex space-center">
              <p class="font-size-14">Automation Engineer</p>
              <p class="font-size-14">Selenium, Cucumber</p>
              <a class="font-size-14" role="button" (click)="openWorkPopup('rbc')">More Details...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-flex margin-top-30 second-row">
    <div class="mat-card border-radius-5 flex-1-1-50 external-link">
      <div class="mat-card-header text-center font-size-20 padding-top-6 margin-bottom-10 margin-top-15">My External Files</div>
      <mat-divider></mat-divider>
      <mat-list class="padding-10">
          <mat-list-item><a href="assets/files/Donglin Jia-resume.pdf" target="_blank">Resume</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="assets/files/DonglinJia-transcript.pdf" target="_blank">Unofficial Grade Report</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="assets/files/Donglin Jia-wtpr.pdf" target="_blank">Work Term Evaluation</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="https://www.youtube.com/channel/UCBAmGcsZwKd99E-MPK5NSLQ?view_as=subscriber" target="_blank">
            This is my YouTube Gaming Channel</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
    </div>
    <div class="mat-card border-radius-5 flex-1-1-50">
      <div class="mat-card-header text-center font-size-20 padding-top-6 margin-bottom-10 margin-top-10">Sports I play</div>
      <mat-divider></mat-divider>
      <div class="padding-10 column-flex">
        <div class="row-flex space-even">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.bikeURL" alt="" role="button" (click)="openPopup('bike')">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.runningURL" alt="" role="button" (click)="openPopup('run')">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.swimmingURL" alt="" role="button" (click)="openPopup('swim')">
        </div>
        <div class="row-flex space-even margin-top-15">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.skiingURL" alt="" role="button" (click)="openPopup('ski')">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.snowboardURL" alt="" role="button" (click)="openPopup('snowboard')">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.badmintonURL" alt="" role="button" (click)="openPopup('badminton')">
        </div>
      </div>
    </div>
  </div>
  <div class="row-flex margin-top-30 third-row margin-bottom-30">
    <div class="mat-card border-radius-5 flex-1-1-50 personal-interest">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="mat-card border-radius-5 flex-1-1-50">
      <app-horchart></app-horchart>
    </div>
  </div>
</div>
