a {
  color: black !important;
}

.external-link {
  margin-right: 15px !important;
}

.personal-interest {
  margin-right: 15px !important;
}

@media screen and (max-width: 1470px) {
  .home-page {
    flex-direction: column;
  }

  .second-row {
    display: flex;
    flex-direction: column;
  }

  .personal-interest {
    margin-right: 0px !important;
    margin-bottom: 15px !important;
  }
  .external-link {
    margin-right: 0px !important;
    margin-bottom: 15px !important;
  }

  .third-row {
    display: flex;
    flex-direction: column;
  }
}
