<div class="column-flex home-page">
  <div class="mat-card border-radius-5">
    <div class="mat-card-header text-center font-size-20 padding-top-6">Personally Introduction</div>
    <div class="padding-10 font-size-16">
      <h4>Basic Info:</h4>
      <div>My name is {{ this.name }}, {{ this.currentYear }} year {{ this.major }} student studying at University of Waterloo.
      Expected graduate in {{ this.graduateYear }}. </div>
      <h4>Personal Interests:</h4>
      <div>{{this.interests}}</div>
      <h4>Work Experiences:</h4>
      <div>
        <ul>Scotiabank FactoryU
          <li>Worked as Innovation Engineer (Full Stack Developer)</li>
          <li>Implemented and developed internal platforms for Scotiabank Capital Markets</li>
          <li>Developed web application by using Angular and Django REST framework</li>
          <li>Created Front-End components and Back-End endpoints. Reorganized and designed Data structure for projects</li>
          <li>Applied service for data binding/transfer. Managed state changes by using Redux.</li>
          <li>Successfully connected to various endpoints by using Django model to overcome proxy issues</li>
        </ul>
        <ul>RBC Capital Markets Technology
          <li>Worked as Quality Assurance</li>
          <li>Developed and designed automation testing framework by using Selenium (Java based) and Cucumber.</li>
          <li>Increasing automation testing speed by 17%, improved automation testing framework accuracy</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-flex margin-top-30 second-row">
    <div class="mat-card border-radius-5 flex-1-1-50 external-link">
      <div class="mat-card-header text-center font-size-20 padding-top-6 margin-bottom-10">My External Links</div>
      <mat-divider></mat-divider>
      <mat-list class="padding-10">
          <mat-list-item><a href="assets/files/Donglin Jia-final.pdf" target="_blank">This is my Resume</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="https://www.linkedin.com/in/donglin-jia/" target="_blank">This is my LinkedIn</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="https://github.com/DonglinJia" target="_blank">This is my Github</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="https://www.youtube.com/channel/UCBAmGcsZwKd99E-MPK5NSLQ?view_as=subscriber" target="_blank">
            This is my YouTube Gaming Channel</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
    </div>
    <div class="mat-card border-radius-5 flex-1-1-50">
      <div class="mat-card-header text-center font-size-20 padding-top-6 margin-bottom-10">My Sports</div>
      <mat-divider></mat-divider>
      <div class="padding-10 column-flex">
        <div class="row-flex space-even">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.bikeURL" alt="" role="button" (click)="openPopup('bike')">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.runningURL" alt="" role="button" (click)="openPopup('run')">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.swimmingURL" alt="" role="button" (click)="openPopup('swim')">
        </div>
        <div class="row-flex space-even margin-top-15">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.skiingURL" alt="" role="button" (click)="openPopup('ski')">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.snowboardURL" alt="" role="button" (click)="openPopup('snowboard')">
          <img class="height-10vh width-15vh border-radius-5"
               [src]="this.badmintonURL" alt="" role="button" (click)="openPopup('badminton')">
        </div>
      </div>
    </div>
  </div>
  <div class="row-flex margin-top-30 third-row">
    <div class="mat-card border-radius-5 flex-1-1-50 personal-interest">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="mat-card border-radius-5 flex-1-1-50">
      <app-horchart></app-horchart>
    </div>
  </div>
  <div>
    <a href="mailto: {{ this.emailAddress }} ">Write to me</a>
  </div>
</div>
