<mat-card>
  <mat-card-header>
    <mat-card-title>Computer Network</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <li>This course introduces the fundamentals of network architectures and protocols and focuses on protocols used in the Internet.</li>
    <li>Documented last 3 lecture notes for computer network</li>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openFile()">Preview</button>
    <button mat-button (click)="downloadFile()">Download</button>
  </mat-card-actions>
</mat-card>
