<div>
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutGap="20px" [@coursesAnimation]="false">
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('OS')">Introduction to Operating System</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('Algo')">Introduction to Algorithm Design</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('AI')">Introduction to Artificial Intelligence</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('Network')">Computer Network</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('graph')">Introduction to Graph Theory</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('ComputingTheory')">Introduction to Computing Theory</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('CogPsych')">Cognitive Psychology</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('SocialPsych')">Social Psychology</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('Personnel')">Personnel Psychology</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-16 background-color-3792cb" (click)="gotoPage('Perception')">Perception Psychology</button>
      <button class="mat-button color-white border-radius-5 height-5vh font-size-18 background-color-3792cb" (click)="gotoPage('IELTS')">IELTS</button>
    </div>
    <div class="width-100vh">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
