@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';


// Color
.background-color-dark {
  background-color: #1C2833 !important;
}

.background-color-light-yellow {
  background-color: #f7ecb5;
}

.color-white {
  color: white !important;
}

.color-black {
  color: black !important;
}

.background-color-3792cb {
  background-color: #3792cb !important;
}

.float-right {
  float: right !important;
}

.flex {
  display: flex;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.flex-1-1-50 {
  flex: 1 1 50%;
}

// Margin Global SCSS
.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-10vh {
  margin-left: 10vh !important;
}

// Padding Global SCSS
.padding-10 {
  padding: 10px !important;
}

.padding-top-6 {
  padding-top: 6px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

// Font Global SCSS
.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

// height and width SCSS
.width-15vh {
  width: 15vh !important;
}

.width-100vh {
  width: 100vh !important;
}

.max-width-200 {
  max-width: 200px !important;
}

.max-width-400 {
  max-width: 400px !important;
}

.max-width-500 {
  max-width: 500px !important;
}

.height-100vh {
  height: 100vh !important;
}

.height-10vh {
  height: 10vh !important;
}

.height-5vh {
  height: 5vh !important;
}

.height-auto {
  height: auto !important;
}

// Other Style
.border-radius-5 {
  border-radius: 5px;
}

.space-between {
  justify-content: space-between;
}

.space-even {
  justify-content: space-evenly;
}

.text-center {
  text-align: center !important;
}

.display-block {
  display: block !important;
}

.content-center {
  align-self: center !important;
}

.align-item-center {
  align-items: center !important;
}

.text-align-last-center {
  text-align-last: center !important;
}

.text-bold {
  font-weight: bold;
}
// Flex:
.flex-column {
  display: flex !important;
  flex-flow: column;
  flex-direction: column;
}

.flex-row {
  display: flex !important;
  flex-flow: row;
}

.topright {
  position: absolute;
  top: 10vh;
  right: 14vh;
}

.gmail-icon {
  height: 30px !important;
  width: 40px !important;
  background: transparent;
}

.github-icon {
  height: 40px !important;
  width: 42px !important;
  background: transparent;
}

.linkedin-icon {
  height: 42px !important;
  width: 42px !important;
  background: transparent;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
