<div class="background-color-dark height-100vh" style="overflow-y: scroll">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" class="color-white"
            [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']">Home</a></li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/courses']">Courses</a></li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/learning']">Learning</a></li>
<!--        <li role="presentation" routerLinkActive="active">-->
<!--          <a [routerLink]="['/tools']">Tools</a></li>-->
        <li role="presentation" class="float-right" routerLinkActive="active">
          <a href="http://donglinjia.github.io" target="__blank">Back to Old School</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-flex">
      <div>
      </div>
      <div class=" col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 margin-top-30">
        <router-outlet></router-outlet>
      </div>
      <div class="color-white flex-column margin-left-10vh topright" fxLayout="column" fxLayoutGap="20px">
        <a class="color-white" target="__blank" href="https://github.com/DonglinJia"><img class="github-icon" src="assets/img/github.png" alt="Github"></a>
        <a class="color-white" target="__blank" href="https://www.linkedin.com/in/donglin-jia/"><img class="linkedin-icon" src="assets/img/linkedin.png" alt="LinkedIn"></a>
        <a class="color-white" target="__blank" href="https://www.youtube.com/channel/UCBAmGcsZwKd99E-MPK5NSLQ"><img class="github-icon" src="assets/img/youtube.png" alt="Youtube"></a>
        <a class="color-white" target="__blank" href="mailto: {{ this.emailAddress }} "><img class="gmail-icon" src="assets/img/gmail.svg" alt="Gmail"></a>
      </div>
    </div>
  </div>
</div>
