<mat-card>
  <mat-card-header>
    <mat-card-title>Operating System</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <li>An introduction to the fundamentals of operating system function, design, and implementation.
      Topics include concurrency, synchronization, processes, threads, scheduling, memory management, file systems, device management, and security.</li>
    <li>This is the notes that I documented for learning propose. </li>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openFile()">Preview</button>
    <button mat-button (click)="downloadFile()">Download</button>
  </mat-card-actions>
</mat-card>
