<div fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Social Psychology Introduction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Documented lecture notes for methodologies for Social Psychology</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('methodology')">Preview</button>
      <button mat-button (click)="downloadFile('methodology')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Self-concept</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction self-concept in Social Psychology</li>
      <li>Definition of high/low Self-esteem, how do we preserve self-esteem</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('self-concept')">Preview</button>
      <button mat-button (click)="downloadFile('self-concept')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Self-regulation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction self-regulation in Social Psychology</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('self-regulation')">Preview</button>
      <button mat-button (click)="downloadFile('self-regulation')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Relationship</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction Relationship in Social Psychology</li>
      <li>How do we meet each other? Why we are attractive to each other?</li>
      <li>How to maintain long term relationship?</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('relationship')">Preview</button>
      <button mat-button (click)="downloadFile('relationship')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Conformity</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction about conformity in Social Psychology</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('conformity')">Preview</button>
      <button mat-button (click)="downloadFile('conformity')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Attitude</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction how do we form attitude and how attitude affect our behavior in Social Psychology</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('attitude')">Preview</button>
      <button mat-button (click)="downloadFile('attitude')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Fundamental Attribution Error</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction different concepts in Social Psychology</li>
      <li>Fundamental Attribution Error, availability heuristic, representative heuristic, priming</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('first-impression')">Preview</button>
      <button mat-button (click)="downloadFile('first-impression')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Group</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction group concept in Social Psychology</li>
      <li>Definition of group thinking, social loafing, social facilitation</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('group')">Preview</button>
      <button mat-button (click)="downloadFile('group')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Prejudice</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction prejudice in Social Psychology</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('prejudice')">Preview</button>
      <button mat-button (click)="downloadFile('prejudice')">Download</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Prosocial-behavior Processing</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Introduction prosocial-behavior in Social Psychology</li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openFile('prosocial-behavior')">Preview</button>
      <button mat-button (click)="downloadFile('prosocial-behavior')">Download</button>
    </mat-card-actions>
  </mat-card>

</div>

