<mat-card class="max-width-500">
  <mat-card-header>
    <mat-card-title>TensorFlow</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <li>TensorFlow is an end-to-end open source platform for machine learning.
    <li>It has a comprehensive, flexible ecosystem of tools, libraries and community resources</li>
    <li>It lets researchers push the state-of-the-art in ML and developers easily build and deploy ML powered applications.</li>
    <li>This is the file that I documented for self-starter. </li>
    <li>If you want to learn more, please refer to
      <a href="https://www.tensorflow.org/" target="_blank">TensorFlow Documentation</a>
    </li>
  </mat-card-content>
  <div class="display-block space-between text-center">
    <img src="{{ this.imageURL }}" alt="this is an image" mat-card-image class="max-width-200">
  </div>
  <mat-card-actions>
<!--    <button mat-button (click)="openFile()">Preview</button>-->
<!--    <button mat-button (click)="downloadFile()">Download</button>-->
  </mat-card-actions>
</mat-card>
